:root{
    --first-color: #0e2431;
}

.dark-theme{
    --first-color: #fff;
}

.dados{
    display: flex;
    justify-content: space-between;
}

.dados .dado{
    padding-right: 2%;
    width: 100%;
}

.dados input{
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.8rem;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#solo input{
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.8rem;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 98%;
}

#solo textarea{
    width: 98%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 80px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0.8rem;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    resize: vertical;
}

.user-btn-main{
    padding: 0.85rem 2rem;
    font-size: 1rem;
}