:root{
    --color-dark: #000000;
    --color-white: #fff;
    --table-color: #ffffff;
    --bg-table: #6b59d157;
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);
}

.dark-theme-variables{
    --color-dark: #ffffff;
    --color-white: #202528;
    --table-color: #202528;
    --bg-table: #a698f0;
}

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-white: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #8292a5;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.sucess{
    color: var(--color-sucess);
}

.warning{
    color: var(--color-warning);
}

.btntable{
    padding: 2%;
    border: var(--color-primary) solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btntable:hover{
    background-color: var(--color-primary);
    color: white;
}

.btntable-ind{
    padding: 2%;
    border: var(--color-dark-variant) solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    display: block;
    margin: 1rem auto;
    background-color: var(--color-dark-variant);
}

.tabela{
    margin-top: 2rem;
}

.tabela h2{
    margin-bottom: 0.8rem;
}

.tabela table{
    /* background: var(--color-white); */
    width: 100%;
    border-radius: var(--card-border-radius);
    -webkit-border-radius: var(--card-border-radius);
    -moz-border-radius: var(--card-border-radius);
    -ms-border-radius: var(--card-border-radius);
    -o-border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.tabela table:hover{
    box-shadow: none;
}

table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

table tbody tr:last-child td{
    border: none;
}

.tabela a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

@media screen and (max-width: 768px){
    .tabela{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .tabela table{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 767px){
    #tabela{
        display: none;
    }
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3)
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3)
}

.hidden{
    display: grid;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    position: fixed;
    backdrop-filter: blur(6px);
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 9;
}

#dados{
    display: unset !important;
    align-self: center;
    justify-self: center;
    margin: 10%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 60%;
    display: flex;
    box-shadow: var(--box-shadow);
    background: white;
}

.wrapper .leftd{
    width: 35%;
    background: #6a59d1;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .leftd img{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 300px;
    object-fit: cover;
}

.wrapper .leftd h4{
    margin-bottom: 10px;
}

.wrapper .leftd p{
    font-size: 12px;
    color: black;
}

.wrapper .rightd{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    place-self: center;
}

.wrapper .rightd .info,
.wrapper .rightd .projects{
    margin-bottom: 25px;
}

.wrapper .rightd .info h3,
.wrapper .rightd .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .rightd .info_data,
.wrapper .rightd .projects_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .rightd .info_data .data,
.wrapper .rightd .projects_data .data{
    width: 45%;
}

.wrapper .rightd .info_data .data h4,
.wrapper .rightd .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .rightd .info_data .data p,
.wrapper .rightd .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
    word-break: break-all;
}

.wrapper .social_media ul{
    display: flex;
}

.wrapper .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to rightd,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.wrapper .social_media ul li a{
    color :#fff;
    display: block;
    font-size: 18px;
}