/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
} */

.aconta {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.aconta header,
label,
input {
    color: #000;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form {
    padding: 50px 80px;
}

@media screen and (max-width: 768px) {
    .form {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 425px) {
    .form {
        padding: 20px 1px;
    }
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.form form {
    margin: 20px 0;
}

.form form .error-txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details {
    display: flex;
}

form .name-details .field:first-child {
    margin-right: 10px;
}

form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label {
    margin-bottom: 2px;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #5779E0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #5779E0;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.form form .field i {
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before {
    color: #333;
    content: "\ebf8";
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    color: #000
}

.form .link a {
    color: #5779E0;
}

.form .link a:hover {
    text-decoration: underline;
}

.users {
    padding: 25px 30px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details {
    margin-left: 15px;
    color: #000;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    color: #fff;
    background: #333;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    width: 47px;
    height: 43px;
    border: none;
    outline: none;
    color: #333;
    background: #fff;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.users .search button.active {
    color: #fff;
    background: #333;
}

.users .search button.active i::before {
    content: "\e9b3";
}

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list, .chat-box, .form)::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
    background: #468669;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 13px;
}

.users-list a .status-dot.offline {
    color: #ccc;
    background: #ccc;
}

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 20px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
    overflow-y: auto;
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
    word-wrap: break-word;
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    -webkit-border-radius: 18px 18px 0 18px;
    -moz-border-radius: 18px 18px 0 18px;
    -ms-border-radius: 18px 18px 0 18px;
    -o-border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
    -webkit-border-radius: 18px 18px 18px 0;
    -moz-border-radius: 18px 18px 18px 0;
    -ms-border-radius: 18px 18px 18px 0;
    -o-border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

.tipoconta {
    padding-bottom: 10px;
    color: grey;
    text-align: center;
}

.perfil {
    text-align: center;
    color: rgb(88, 88, 88);
    ;
}

.pntcl {
    height: 40px;
    width: 49%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #5779E0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.desinp {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #5779E0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: black;
    word-wrap: break-word;
}

.dsemana {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #5779E0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: black;
}

.optec {
    border: blue solid 1px;
    width: 45%;
    margin-left: 3%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 2%;
    text-align: center;
    background-color: rgba(0, 89, 255, 0.151);
    color: black;
}

.imgtec {
    width: 50%;
    padding: 5%;
}

.descrição {
    color: black;
}

/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 225;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --colorc: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* Font size for large devices */

@media screen and (min-width: 968px) {
     :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== Variables Dark theme ==========*/

body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
}


/*========== Button Dark/Light ==========*/

.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/

.section {
    padding: 5rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}


/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*==================== NAV ====================*/

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 2rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    top: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}


/* show menu */

.show-menu {
    top: 0;
}


/*==================== HOME ====================*/

.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    width: 250px;
    text-align: center;
    fill: #FFF;
}

.home__blob-img {
    width: 235px;
    height: 150px;
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}


/*.home__scroll {
     display: none; 
}*/

.home__scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}


/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}


/*==================== ABOUT ====================*/

.about__img {
    width: 60%;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: justify;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}


/*==================== SKILLS ====================*/

.skills__container {
    row-gap: 0;
}

.skills__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__name {
    text-align: left;
    font-weight: var(--font-medium);
}

.skills__number {
    margin-bottom: var(--mb-2-5);
    font-size: var(--normal-font-size);
}


/*==================== FOOTER ====================*/

.foster {
    padding-top: 2rem;
}

.foster__container {
    row-gap: 3.5rem;
}

.foster__bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.foster__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.foster__subtitle {
    font-size: var(--small-font-size);
}

.foster__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.foster__link:hover {
    color: var(--first-color-lighter);
}

.foster__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.foster__social:hover {
    color: var(--first-color-lighter);
}

.foster__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.foster__title,
.foster__subtitle,
.foster__link,
.foster__social {
    color: #FFF;
}


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu {
        padding: 2rem .25rem 2rem;
    }
    .home__blob {
        width: 180px;
    }
}


/* For medium devices */

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        grid-column: initial;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    .about__container,
    .foster__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__img {
        width: 100%;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
        margin-bottom: 15%;
    }
    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-top: 1rem;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .header,
    .main,
    .foster__container {
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .charge-theme {
        margin: 0;
    }
    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob {
        width: 300px;
    }
    .home__scroll {
        display: block;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }
    .about__container {
        column-gap: 5rem;
    }
    .about__description {
        text-align: justify;
    }
    .about__info {
        justify-content: space-between;
    }
    .about__buttons {
        justify-content: initial;
    }
    .foster__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .foster__bg {
        padding: 3rem 0 3.5rem;
    }
    .foster__links {
        justify-self: center;
    }
    .foster__socials {
        justify-self: flex-end;
    }
    .foster__copy {
        margin-top: 4.5rem;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .foster__container {
        padding: 0;
    }
    .home__blob {
        width: 320px;
    }
    .home__social {
        transform: translateX(-6rem);
    }
}


/* CSS */

@media screen and (min-width: 768px) {
    .button__loginm {
        visibility: hidden;
    }
}

.button__loginm {
    font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
    #conta {
        visibility: hidden;
    }
    #contap {
        visibility: hidden;
    }
}

.button__login:hover {
    background-color: var(--first-color-alt);
}

@media screen and (min-width: 767px) {
    #nav-menu2 {
        visibility: hidden;
    }
}

#conta {
    background-color: var(--input-color);
    border-radius: .5rem;
    color: white;
    padding: .2rem;
}

#contap {
    background-color: var(--input-color);
    border-radius: .5rem;
    color: white;
    padding: .1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem
}

#tdfooter {
    border: 20px solid transparent;
}


/* DOAR */

.about__container__doar {
    text-align: center;
}

.img__lixo {
    width: 100%;
    border-radius: 3%;
}

.home__doar {
    text-align: center;
}

.img__doar__lixo {
    width: 80%;
    border-radius: 3%;
}

.home__content__doar {
    grid-template-columns: 0fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.about__description__doar {
    text-align: left;
}


/* ================= SERVIÇOS ==================== */

.planos {
    /* float: left; */
    text-align: center;
    background-color: rgba(0, 89, 255, 0.151);
    padding: 2% 2% 2%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 1%;
    height: 430px;
}

.planos2 {
    /* float: right; */
    text-align: center;
    background-color: rgba(0, 89, 255, 0.151);
    padding: 2% 2% 2%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 1%;
    width: 47%;
    height: 430px;
}

@media screen and (max-width: 425px) {
    .planos {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 370px;
    }
}

.posts {
    text-align: center;
    background-color: rgba(0, 89, 255, 0.151);
    padding: 2% 2% 2%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 1%;
    width: 100%;
    height: 300px;
}

.posts2 {
    float: right;
    text-align: center;
    background-color: rgba(0, 89, 255, 0.151);
    padding: 2% 2% 2%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 1%;
    width: 47%;
    height: 300px;
}

@media screen and (max-width: 767px) {
    .posts {
        height: 170px;
    }
    .posts2 {
        height: 170px;
    }
}

@media screen and (max-width: 320px) {
    .posts {
        height: 140px;
    }
    .posts2 {
        height: 140px;
    }
}

.imgpost {
    width: 100%;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}


/* ===================== CADASTRO ====================== */

.cconta {
    align-items: center;
    background-color: #fff;
    margin: 100px;
    border-radius: 15px;
    padding: 20px;
    border-left: 8px solid var(--first-color);
    box-shadow: 0px 0px 0px 0px;
    border-right: 2px #5779E0 solid;
    border-top: 2px #5779E0 solid;
    border-bottom: 2px #5779E0 solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.ccontap {
    align-items: center;
    background-color: #fff;
    margin: 20px 100px 50px 100px;
    border-radius: 15px;
    padding: 20px;
    border-left: 8px solid var(--first-color);
    box-shadow: 0px 0px 0px 0px;
    border-right: 2px #5779E0 solid;
    border-top: 2px #5779E0 solid;
    border-bottom: 2px #5779E0 solid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.ccontasair {
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    border-left: 8px solid var(--first-color);
    box-shadow: 0px 0px 0px 0px;
}

.clogin {
    text-align: center;
}

.ttcc {
    color: black;
    text-align: center;
}

.formcc {
    text-align: left;
    color: black;
}

.form-control {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--first-color);
    padding-left: 2%;
    width: 100%;
    background-color: var(--colorc);
}

.btncc {
    float: right;
    border: 1px solid var(--first-color);
    background-color: var(--first-color);
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
}

.btncc:hover {
    background-color: var(--first-color-alt);
}

@media screen and (max-width: 768px) {
    .sair {
        color: green;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 20%;
    }
}

@media screen and (min-width: 767px) {
    .sair {
        color: green;
        text-align: center;
        position: absolute;
        left: 200px;
    }
}

@media screen and (min-width: 767px) {
    /* .cconta {
        width: 100%;
    } */
    .form-control {
        width: 60%;
    }
}

#spacee {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}


/* .pj{
    display: none;
} */

.icon_plan {
    color: green;
}

.icon_planx {
    color: red;
}

.plan {
    text-align: center;
}

.dadosp {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .locais {
        text-align: center;
        background-color: rgba(0, 89, 255, 0.151);
        padding: 2% 2% 2%;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        margin: 1%;
        width: 100%;
        height: 95%;
    }
    .imglocal {
        float: right;
        width: 50%;
        border-radius: 15px;
        margin: 2%;
    }
}

@media screen and (min-width: 767px) {
    .locais {
        text-align: center;
        background-color: rgba(0, 89, 255, 0.151);
        padding: 2% 2% 2%;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        margin: 1%;
        width: 100%;
        height: 92%;
    }
    .imglocal {
        float: right;
        width: 30%;
        border-radius: 15px;
        margin: 0.5px;
    }
}

.textlocal {
    text-align: left;
    float: left;
    padding-left: 15px;
}

.imgplano {
    margin-top: 10%;
    width: 35%;
}

.contratar {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-weight: var(--font-medium);
    margin: 0%;
    border: 0;
}

.contratar:hover {
    background-color: var(--first-color-alt);
}

.contrataremp {
    display: inline-block;
    background-color: grey;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-weight: var(--font-medium);
    margin: 0%;
    border: 0;
}

.contrataremp:hover {
    background-color: rgba(128, 128, 128, 0.733);
}

@media screen and (max-width: 375px) {
    .contratar {
        padding: 1rem;
    }
}

.contato {
    text-align: center;
}

.form-controlx {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--first-color);
    padding-left: 2%;
    width: 60%;
    background-color: var(--colorc);
    font-family: arial;
    padding-top: 0.5%;
    height: 100px;
}

@media screen and (max-width: 767px) {
    .form-controlx {
        margin-top: 1%;
        margin-bottom: 2%;
        height: 30px;
        border-radius: 10px;
        border: 2px solid var(--first-color);
        padding-left: 2%;
        width: 100%;
        background-color: var(--colorc);
        font-family: arial;
        padding-top: 0.5%;
        height: 100px;
    }
}

.btnccx {
    float: right;
    border: 1px solid var(--first-color);
    background-color: var(--first-color);
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
}

.tcontato {
    color: var(--title-color);
}

#adm {
    width: 100%;
}

.chatdiv {
    position: fixed;
    margin-left: 90%;
    margin-top: 60%;
}

@media screen and (max-width: 1600px) {
    .chatdiv {
        position: fixed;
        margin-left: 90%;
        margin-top: 40%;
    }
}

@media screen and (max-width: 768px) {
    .chatdiv {
        position: fixed;
        margin-left: 90%;
        margin-top: 80%;
    }
}

@media screen and (max-width: 700px) {
    .chatdiv {
        position: fixed;
        margin-left: 90%;
        margin-top: 60%;
    }
}

@media screen and (max-width: 425px) {
    .chatdiv {
        position: fixed;
        margin-left: 85%;
        margin-top: 90%;
    }
}

#iconchat {
    color: black;
    font-size: x-large;
    border: chocolate solid 10px;
    border-radius: 50px;
    background-color: chocolate;
    padding-left: 10%;
    padding-right: 10%;
}

#iconchat:hover {
    background-color: rgba(210, 105, 30, 0.651);
    border: rgba(210, 105, 30, 0.651) solid 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.Mobile {
    display: none;
}

@media screen and (max-width: 425px) {
    .PC {
        display: none;
    }
    .Mobile {
        display: inline;
    }
}